.ace_editor.ace-monokai .ace_gutter {
  background: #0E0E0E;
  color: #737373;
}

.ace_editor.ace-monokai .ace_content {
  color: #9370DB; /* Purple color for text */
}

.ace_editor.ace-monokai .ace_cursor {
  color: #9370DB; /* Purple color for cursor */
}

.ace_editor.ace-monokai .ace_marker-layer .ace_selection {
  background: #9370DB33; /* Purple color for selection */
}

.ace_editor.ace-monokai .ace_line span {
  color: #9370DB; /* Purple color for text */
}
